body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper { }

@for $i from 1 through 3 {
  .dot-#{$i} {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 10vw;
      height: 10vw;
      border-radius: 50%;
      animation: ripple 2s ease-out #{$i * 0.7}s infinite;
  }
}

@keyframes ripple {
0% {
  transform: scale(0, 0);
  opacity: 1;
}
100% {
  opacity: 0;
  transform: scale(8, 8);
  background: #2196f3;
}
}